.jumbotron {
    background-color: beige;
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: beige;
    margin-bottom: 0px;
    margin-top: 15px;
}



.card-articulo{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-ver-mas{
    width:100%;
}

.footer-adress-icon {
    padding-right: 10px;
}
.tab-content {
   padding-top: 10px;
}