$beige: #e2dcb6;
@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color: $beige;
    color: black;
    @include margenes(50px,0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $beige;
    @include margenes(10px,0px);
}
.card-articulo{
    flex: 1 200px;
    @include margenes(10px,0px);

}
.btn-ver-mas{
    width:100%;
}

.footer-adress-icon {
    padding-right: 10px;
}
.tab-content {
   padding-top: 10px;
}