.jumbotron {
  background-color: #ed4e9e;
  color: black;
  margin-top: 50px;
  margin-bottom: 5px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ed4e9e;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-articulo {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-ver-mas {
  width: 100%;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
