
@pink: #ed4e9e ;

.margenes (@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom; 
}

.jumbotron {
    background-color: @pink;
    color: black;
    .margenes(50px, 5px);
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color:  @pink;
    .margenes(10px, 0px); 
}
  
  .card-articulo {
    flex: 1 200px;
    .margenes(10px, 0px);
 }
  
  .btn-ver-mas {
    width: 100%; }
  
  .footer-adress-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  